@page "/games"
@inject IGameService GameService
@inject NavigationManager NavigationManager
@*Putting the @attribute [StreamRendering] makes it load two times. -- Fix later*@
@rendermode InteractiveServer

<h3>GameList</h3>

@if(games is null)
{
    <spawn>Loading...</spawn>
}

else if(games.Count == 0)
{
    <span>No games found.</span>
}
else
{
    <ul>
        @foreach(var game in games)
        {
            <li>
                @game.Name <button @onclick="(() => DeleteGame(game.Id))" class="btn btn-primary">X</button>
            </li>
        }
    </ul>
}

<CreateGameButton />

@code {
    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetAllGames();
    }

    async Task DeleteGame(Guid id)
    {
        await GameService.DeleteGameById(id);
        NavigationManager.NavigateTo("/games");
    }
}
